/* minor CSS reset */
/* You should not need to change anything here */
html, body, div, h1, h2, p, ul, li {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* Corrupted CSS below */
/* ------------------- */
body {
    background-color: #eaeaee;
    max-width: 600px;
    margin: 0;
    padding: 32px;
    font-size: 30px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

h1, h2 {
    font-family: 'bangers', cursive;
}

.h2 {
    text-decoration: underline;
}

.centered {
    text-align: center;
}

.title {
    font-size: 60px;
}

.content {
    background-color: white;
    border: 5px;
    margin: 48px;
    padding: 20px;
}

.content ul {
    margin-top: 20px;
    padding-left: 20px;
}

.element {
    list-style-type: square;
}

.second {
    font-weight: bold;
}